In [172]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [173]:
data = {
    "Alternative" : ["construct larg plant", "constrcut small plant", "do no thing"],
    "FAVORABLE MARKET" : [200_000, 100_000, 0],
    "UNFAVORABLE MARKET" : [-180_000, -20_000, 0]

}

In [174]:
df = pd.DataFrame(data)
df

             Alternative  FAVORABLE MARKET  UNFAVORABLE MARKET
0   construct larg plant            200000             -180000
1  constrcut small plant            100000              -20000
2            do no thing                 0                   0

**Decision Making Under Uncertainty**

1. Maximax (optimistic)
2. Maximin (pessimistic)
3. Criterion of realism (Hurwicz)
4. Equally likely (Laplace) 
5. Minimax regret

*Maximax*
Used to find the alternative that maximizes the 
maximum payoff ==> find what is the max profit
1. Locate the maximum payoff for each alternative.✅
2. Select the alternative with the maximum number.✅

In [175]:
Max = [max(df["FAVORABLE MARKET"][i], df["FAVORABLE MARKET"][i]) for i in range(len(df))]
Max

[200000, 100000, 0]

In [176]:
df["MAX"] = Max
df

             Alternative  FAVORABLE MARKET  UNFAVORABLE MARKET     MAX
0   construct larg plant            200000             -180000  200000
1  constrcut small plant            100000              -20000  100000
2            do no thing                 0                   0       0

In [177]:
df.loc[df.MAX == df.MAX.max()]

            Alternative  FAVORABLE MARKET  UNFAVORABLE MARKET     MAX
0  construct larg plant            200000             -180000  200000

*Maximin*
Used to find the alternative that maximizes 
the minimum payoff.
1. Locate the minimum payoff for each alternative.
2. Select the alternative with the maximum 
number.

In [178]:
df.drop(columns="MAX", inplace = True)
#inplace makes sure that the Column is deleted

In [179]:
#min calculating for each row
Min = [min(df["FAVORABLE MARKET"][i], df["UNFAVORABLE MARKET"][i]) for i in range(len(df))]
df["Min"] = Min
df

             Alternative  FAVORABLE MARKET  UNFAVORABLE MARKET     Min
0   construct larg plant            200000             -180000 -180000
1  constrcut small plant            100000              -20000  -20000
2            do no thing                 0                   0       0

In [180]:
#max of minumin values of profits
#max less profit that you are going to gain 💸 
#find the best way to lose 
#max loses then less lose
df.loc[df.Min == df.Min.max()]

   Alternative  FAVORABLE MARKET  UNFAVORABLE MARKET  Min
2  do no thing                 0                   0    0

**Criterion of Realism (Hurwicz)**
just a method in between the MaxMax and MaxMin

**Weighted average = ɑ(maximum in row) + (1 – ɑ)(minimum in row)**

In [181]:
df.drop(columns="Min", inplace=True)
df

             Alternative  FAVORABLE MARKET  UNFAVORABLE MARKET
0   construct larg plant            200000             -180000
1  constrcut small plant            100000              -20000
2            do no thing                 0                   0

In [182]:
df["MAX in Row"] = [max(df["UNFAVORABLE MARKET"][i], df["FAVORABLE MARKET"][i]) for i in range(len(df))]
df["MIN in Row"] = [min(df["UNFAVORABLE MARKET"][i], df["FAVORABLE MARKET"][i]) for i in range(len(df))]
df

,Alternative,FAVORABLE MARKET,UNFAVORABLE MARKET,MAX in Row,MIN in Row
0,construct larg plant,200000,-180000,200000,-180000
1,constrcut small plant,100000,-20000,100000,-20000
2,do no thing,0,0,0,0

In [183]:
def weighted_Ave(Alpha, MaxInRow, MinInRow):
   return  Alpha*MaxInRow + (1-Alpha)*MinInRow
df["Weighted Average"] = [weighted_Ave(0.8, df["MAX in Row"][i], df["MIN in Row"][i]) for i in range(len(df))]
df

,Alternative,FAVORABLE MARKET,UNFAVORABLE MARKET,MAX in Row,MIN in Row,Weighted Average
0,construct larg plant,200000,-180000,200000,-180000,124000.0
1,constrcut small plant,100000,-20000,100000,-20000,76000.0
2,do no thing,0,0,0,0,0.0

In [184]:
#final decision based on the max average
#when Alpha is 0.8
df.loc[df["Weighted Average"] == df["Weighted Average"].max()]

,Alternative,FAVORABLE MARKET,UNFAVORABLE MARKET,MAX in Row,MIN in Row,Weighted Average
0,construct larg plant,200000,-180000,200000,-180000,124000.0

**Equally Likely (Laplace)**
Considers all the payoffs for each alternative 
1. Find the average payoff for each alternative.
2. Select the alternative with the highest average.

In [185]:
df.drop(columns=["MAX in Row","MIN in Row","Weighted Average"], inplace=True)
df

             Alternative  FAVORABLE MARKET  UNFAVORABLE MARKET
0   construct larg plant            200000             -180000
1  constrcut small plant            100000              -20000
2            do no thing                 0                   0

In [186]:
def Average(v1, v2):
    return (v1+v2)/2
df["Average"] = [Average(df["FAVORABLE MARKET"][i], df["UNFAVORABLE MARKET"][i]) for i in range(len(df))]
df

             Alternative  FAVORABLE MARKET  UNFAVORABLE MARKET  Average
0   construct larg plant            200000             -180000  10000.0
1  constrcut small plant            100000              -20000  40000.0
2            do no thing                 0                   0      0.0

In [187]:
df.loc[df.Average == df.Average.max()]

             Alternative  FAVORABLE MARKET  UNFAVORABLE MARKET  Average
1  constrcut small plant            100000              -20000  40000.0

**Minimax Regret**
1. Create an opportunity loss table by determining 
the opportunity loss from not choosing the best 
alternative.
2. Opportunity loss is calculated by subtracting 
each payoff in the column from the best payoff 
in the column.
3. Find the maximum opportunity loss for each 
alternative and pick the alternative with the 
minimum number

In [188]:
df.drop(columns=["Average"], inplace=True)
df

             Alternative  FAVORABLE MARKET  UNFAVORABLE MARKET
0   construct larg plant            200000             -180000
1  constrcut small plant            100000              -20000
2            do no thing                 0                   0

In [189]:
favBestProfit = df["FAVORABLE MARKET"].max()
unfavBeatProfit = df["UNFAVORABLE MARKET"].max()
favBestProfit, unfavBeatProfit

(200000, 0)

In [226]:
df["FAVORABLE MARKET"] =  abs(favBestProfit -  df["FAVORABLE MARKET"])
df["UNFAVORABLE MARKET"] = abs(unfavBeatProfit - df["UNFAVORABLE MARKET"])
df["MAX regret if you did not do that"] = [max(df["FAVORABLE MARKET"][i], df["UNFAVORABLE MARKET"][i]) for i in range(len(df))]

display(df)
df.loc[df["MAX regret if you did not do that"] == df["MAX regret if you did not do that"].min()]

,Alternative,FAVORABLE MARKET,UNFAVORABLE MARKET,MAX regret if you did not do that
0,construct larg plant,0,180000,180000
1,constrcut small plant,100000,20000,100000
2,do no thing,200000,0,200000

,Alternative,FAVORABLE MARKET,UNFAVORABLE MARKET,MAX regret if you did not do that
1,constrcut small plant,100000,20000,100000